@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.content {
    position: absolute;
    height: 3586px;
    width: 1512px;
    left: 0px;
    right: 0px;
    top: 100.5px;
    background: #EBEBEB;
}

.novedades {
    position: absolute;
    margin-top: -15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 2px;
    gap: 4px;
    width: 60px;
    height: 6px;
    padding-left: 770px;
    padding-top: 330px;
}

.button {
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 0px 1px #FFFFFF;
    border-radius: 3px;
}

.button2 {
    width: 6px;
    height: 6px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.transferencia {
    position: absolute;
    width: 1184px;
    height: 90px;
    left: calc(50% - 1184px/2);
    top: 380px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.transferencia1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 913.97px;
    height: 130px;
    left: 0px;
    top: 0px;
}

.transferencia2 {
    box-sizing: border-box;
    position: absolute;
    width: 270.03px;
    height: 130px;
    left: 913.97px;
    top: 0px;
    border-left: 1px solid #EEEEEE;
}

.cuotas {
    width: 304.66px;
    height: 130px;
}

.banco {
    width: 304.66px;
    height: 130px;
}

.efectivo {
    width: 304.66px;
    height: 130px;
}

.medios {}

.bancos2 {
    width: 300px;
    font-family: 'Roboto';
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    padding-left: 80px;
    padding-top: 0px;
    margin-top: -40px;
}

.vermas {
    height: 15px;
    left: 84px;
    top: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #3483FA;
    padding-left: 80px;
}

.ofertas {
    padding: 40px 0px 0px;
    position: absolute;
    left: calc(50% - 1200px/2);
    top: 469.5px;
}

.ofertas1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 2.92188px;
    gap: 16px;
    width: 173.3px;
}

.ofertastitulo {
    width: 82px;
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    color: #666666;
}

.ofertastitulo2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #3483FA;
}

.ofertas2 {
    width: 1200px;
    height: 415px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.clasificado {
    display: flex;
    padding: 0px 8px;
    padding-top: 100px;
    gap: 16px;
    position: absolute;
    top: 0px;
}

.clasificado1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 224px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.divclasificado1,
.divclasificado2,
.divclasificado3,
.divclasificado4,
.divclasificado5 {
    padding-top: 19px;
    padding-left: 16px;
    gap: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.clasificado11 {
    width: 224px;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.divclasificado1letras {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dinero {
    width: 14px;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 24px;
    color: #333333;
}

.valor {
    font-family: 'Roboto';
    font-size: 23px;
    line-height: 24px;
    color: #333333;
}

.descuento {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #00A650;
}

.enviogratis {
    height: 20px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #00A650;
    gap: 10px;
}

.clasificado2,
.clasificado3,
.clasificado4,
.clasificado5 {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.suscribete {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1180px;
    height: 340px;
    left: 166px;
    top: 980.19px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.suscribete1 {
    display: flex;
    align-items: center;
    gap: 774px;
    width: 1180px;
    height: 87px;
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
    flex: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nivel6 {
    width: 233.95px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    color: #FFFFFF;
    padding-left: 24px;
}

.mesdiv {
    width: 123.94px;
}

.mesprecio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    text-decoration-line: line-through;
    color: #FFFFFF;
}

.mesprecionuevo {
    width: 123.94px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.pormes {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    padding-top: 7px;
    padding-left: 10px;
    color: #FFFFFF;
}

.pormespreciofinal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.mespseudo {
    height: 60px;
    left: 10px;
    border-left: 2px solid #FFFFFF;
    flex: none;
    padding-left: 10px;
    padding-top: 10px;
}

.suscribete2 {
    display: flex;
    flex-direction: column;
    gap: 29px;
    width: 1180px;
    height: 172px;
    flex: none;
}

.suscribete2beneficios {
    height: 25px;
    font-family: 'Roboto';
    font-size: 17px;
    padding-left: 24px;
    padding-top: 20px;
}

.suscribete2div {
    padding-left: 24px;
    display: flex;
}

.suscribete2div1 {
    display: flex;
    align-items: center;
    padding: 0px 168.328px 0px 0px;
    gap: 16px;
}

.suscribete2div2 {
    display: flex;
    align-items: center;
    padding: 0px 186.328px 0px 0px;
    gap: 16px;
}

.suscribete2div3 {
    display: flex;
    align-items: center;
    padding: 0px 46.9406px 0px 0px;
    gap: 16px;
}

.disneyplus {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 15px;
}

.starplus {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 15px;
}

.mercadoplus {
    width: 240.39px;
    height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
}

.suscribete3 {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 16px 30px;
    width: 1180px;
    height: 81px;
    border-top: 1px solid #EDEDED;
}

.suscribetebutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 123.72px;
    height: 48px;
    background: #3483FA;
    border-radius: 6px;
}

.suscribetebuttontexto {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 48px;
    display: flex;
    color: #FFFFFF;
}

.beneficios {
    padding: 40px 0px 0px;
    position: absolute;
    left: calc(50% - 1200px/2);
    top: 1360.19px;
}

.beneficios1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 7.375px;
    gap: 25px;
    width: 535.73px;
}

.beneficios1texto1 {
    width: 334px;
    font-family: 'Roboto';
    font-size: 25px;
    color: #666666;
}

.beneficios1texto2 {
    font-family: 'Roboto';
    font-size: 15px;
    color: #3483FA;
}

.beneficios2 {
    width: 1200px;
    height: 266px;
}

.beneficios2div {
    display: flex;
    align-items: center;
    padding: 0px 8px;
    gap: 16px;
    position: absolute;
    height: 450px;
    top: 0px;
}

.beneficios2detalles1 {
    width: 384px;
    height: 112px;
    background: linear-gradient(0deg, #081330 0%, rgba(8, 19, 48, 0) 100%);
    margin: 142px 0px;
}

.beneficios2detalles2 {
    width: 384px;
    height: 112px;
    background: linear-gradient(0deg, #3C034E 0%, rgba(60, 3, 78, 0) 100%);
    margin: 142px 0px;
}

.beneficiosdiv {
    position: absolute;
    width: 384px;
    height: 112px;
    vertical-align: top;
}

.beneficios2detalles3 {
    width: 384px;
    height: 112px;
    background: linear-gradient(0deg, #0064FF 0%, rgba(0, 100, 255, 0) 100%);
    margin: 142px 0px;
}

.diasgratis {
    position: absolute;
    left: 16px;
    top: -1px;
    font-family: 'Roboto';
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 100px;
}

.hastaoff {
    position: absolute;
    width: 300px;
    left: 16px;
    top: 18.95px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 22px;
    padding-left: 100px;
    color: #FFFFFF;
}

.marca {
    position: absolute;
    left: 16px;
    top: 47.92px;
    font-family: 'Roboto';
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding-left: 100px;
    color: #FFFFFF;
}

.descubre {
    position: absolute;
    width: 1200px;
    height: 398.19px;
    left: calc(50% - 1200px/2);
    top: 1759.5px;
}

.descubretexto {
    position: absolute;
    left: 8px;
    top: 37px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
    color: #666666;
}

.descubrediv {
    display: flex;
    padding: 0px 8px;
    gap: 15px;
    position: absolute;
    left: 0px;
    top: 93.19px;
}

.descubrediv1,
.descubrediv2 {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 584px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.descubrediv22 {
    width: 262.16px;
    height: 198.59px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.descubrediv22texto1 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 4px;
    color: #4B4B4B;
    padding-left: 32px;
    padding-top: 50px;
}

.descubrediv22texto2 {
    width: 600px;
    height: 31px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #4B4B4B;
    padding-left: 32px;
    padding-top: 8px;
}

.descubrediv22texto3 {
    height: 31px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #4B4B4B;
    padding-left: 32px;
}

.descubrebutton {
    padding: 7.5px 0px;
    position: absolute;
    width: 150px;
    background: #3483FA;
    border-radius: 2px;
    bottom: 50px;
    left: 36px;
}

.descubrebutton2 {
    padding: 7.5px 0px;
    position: absolute;
    width: 150px;
    background: #3483FA;
    border-radius: 2px;
    bottom: 50px;
    left: 638px;
}

.descubrebuttontexto {
    height: 20px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 50%;
    margin: auto;
}

.descubreimg2 {
    flex: none;
    order: 1;
    flex-grow: 0;
}

.mejores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1512px;
    height: 505.19px;
    top: 2117.5px;
    background: linear-gradient(0deg, #E6E6E6 0%, rgba(255, 255, 255, 0) 100%);
}

.mejores2 {
    width: 1200px;
    height: 505.19px;
    padding-top: 30px;
}

.mejorestext {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 3.1875px;
    gap: 25px;
    width: 454.64px;
    height: 31.19px;
}

.mejorestext1 {
    width: 370px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    color: #666666;
    padding-left: 5px;
}

.mejorestext2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #3483FA;
    flex: none;
}

.mejores3 {
    width: 1200px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.mejores3div {
    display: flex;
    padding: 0px 8px;
    gap: 16px;
    position: absolute;
    top: 100px;
}

.mejoresdiv1,
.mejoresdiv2,
.mejoresdiv3,
.mejoresdiv4 {
    width: 284px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.lego,
.xiaomi,
.oster,
.nikon {
    position: absolute;
    top: 45px;
    bottom: 215px;
    border-radius: 0px;
    padding-left: 85px;
}

.vertienda {
    padding-left: 110px;
    position: absolute;
    top: 298px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 15px;
    color: #999999;
}

.items {
    display: flex;
    align-items: center;
    padding: 3px 31px;
    gap: 6px;
    position: absolute;
    height: 74px;
    top: 202px;
}

.nombrediv {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 284px;
    top: 151px;
}

.nombredivtexto {
    width: 74.25px;
    height: 35px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 23px;
    display: flex;
    align-items: center;
    color: #333333;
    padding-left: 8px;
}

.legobackground {
    position: absolute;
    width: 284px;
    height: 95px;
    top: 0px;
}

.mejoresdiv2,
.mejoresdiv3,
.mejoresdiv4 {
    width: 284px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.supermercado {
    display: flex;
    align-items: flex-end;
    gap: 6.88px;
    position: absolute;
    left: 156px;
    top: calc(50% - 2.19px/2 + 860.44px);
}

.colleciones {
    width: 145px;
    font-family: 'Roboto';
    font-size: 26px;
    line-height: 26px;
    align-items: center;
    color: #666666;
}

.super {
    display: flex;
    align-items: flex-end;
    height: 28px;
}

.super2 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    display: flex;
    color: #666666;
}

.supermercadodiv {
    position: absolute;
    width: 1200px;
    height: 382px;
    left: 156px;
    top: 2709.69px;
}

.supermercadodiv1 {
    width: 383px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.supermercadodescubre {
    width: 383px;
    height: 99px;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.supermercadodescubre1 {
    height: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4px;
    color: #4B4B4B;
    padding-left: 25px;
    padding-top: 20px;
}

.supermercadodescubre2 {
    padding: 4px 137px 4px 0px;
    padding-left: 25px;
}

.supermercadodescubre2texto {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    color: #4B4B4B;
}

.supermercadodiv2 {
    position: absolute;
    width: 800px;
    height: 400px;
    left: 391px;
    top: -8px;
}

.supermercado1 {
    position: absolute;
    height: 184px;
    left: 8px;
    right: 608px;
    top: 8px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.supermercado2 {
    position: absolute;
    height: 184px;
    left: 208px;
    right: 408px;
    top: 8px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.supermercado3 {
    position: absolute;
    height: 184px;
    left: 408px;
    right: 208px;
    top: 8px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.supermercado4 {
    position: absolute;
    height: 184px;
    left: 608px;
    right: 8px;
    top: 8px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.supermercado5 {
    position: absolute;
    height: 184px;
    left: 8px;
    right: 608px;
    top: 208px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.supermercado6 {
    position: absolute;
    height: 184px;
    left: 208px;
    right: 408px;
    top: 208px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.supermercado7 {
    position: absolute;
    height: 184px;
    left: 408px;
    right: 208px;
    top: 208px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.supermercado8 {
    position: absolute;
    height: 184px;
    left: 608px;
    right: 8px;
    top: 208px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.populares {
    position: absolute;
    width: 1200px;
    height: 473.19px;
    left: calc(50% - 1200px/2 - 8px);
    top: 3131.69px;
}

.popularesdiv {
    display: flex;
    position: absolute;
    left: 10px;
    top: 93.19px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.popularestexto {
    position: absolute;
    left: 8px;
    top: 37px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 25px;
    color: #666666;
}

.popularestexto2 {
    height: 21px;
    font-family: 'Roboto';
    font-size: 14.3px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.populares11 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 44px 13.8156px 44px 13px;
    gap: 11px;
    width: 170px;
    height: 170px;
    background: #FFFFFF;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #EAE6E6;
}

.fin {
    position: absolute;
    left: -2px;
    top: 3582.5px;
}

.findiv {
    width: 1200px;
    height: 80px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fin1 {
    position: absolute;
    height: 260px;
    left: 154px;
    right: 800px;
    top: 40px;
}

.fin1texto1,
.fin2texto1,
.fin3texto1 {
    position: absolute;
    width: 260.89px;
    left: 69.66px;
    top: 105px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
}

.fin1texto2,
.fin2texto2,
.fin3texto2 {
    position: absolute;
    width: 303.4px;
    left: 48.39px;
    top: 136px;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #999999;
}

.fin1texto3,
.fin2texto3,
.fin3texto3 {
    position: absolute;
    width: 195.11px;
    left: 102.55px;
    top: 220px;
    font-family: 'Roboto';
    font-size: 13px;
    color: #3483FA;
}

.fin2 {
    position: absolute;
    height: 242px;
    left: 545px;
    right: 400px;
    top: 40px;
}

.fin3 {
    position: absolute;
    height: 242px;
    left: 950px;
    top: 40px;
}

.pseudofin2 {
    position: absolute;
    width: 1px;
    height: 65px;
    left: 399px;
    top: 88.5px;
    background: #E2E2E2;
}

.pseudofin1 {
    position: absolute;
    width: 1px;
    height: 65px;
    left: 0px;
    top: 88.5px;
    background: #E2E2E2;
}